<h4 class="ui header">
  {{#link-to 'question' question.id}}
    {{question.content}}
  {{/link-to}}
  <br>-{{question.author}}
</h4>

{{#if additional}}
  <br>Additional Notes: <br>
  {{question.notes}}

  {{add-answer question=question addAnswer="addAnswer"}}

  {{#each question.answers as |answer|}}
    {{answer-tile answer=answer}}
  {{/each}}

{{/if}}
